@charset "UTF-8";

* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: antiquewhite;
    font-size: 25px;
}

header > h1 {
    text-align: center;
    margin: auto;
}

main {
    background-color: white;
    width: 500px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

footer {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin: auto ;
}

a {
    color: black;
}

#screenRes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
    background-color: rgb(247, 247, 235);
    width: 450px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 20px;
}

#buttonscreen {
    display: inline-block;
}

#buttonscreen > p > input{
    justify-content: space-around;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 172, 113);
    font-size: 30px;
}

#clearButton {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(88, 197, 84);
    font-size: 30px;
}

#operators > input {
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(252, 143, 66);
    font-size: 30px;
}

#operators {
    display: inline-block;    
}

#equalButton {
    width: 312px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 128, 36);
    font-size: 30px;
}

#menu {
    display: flex;
    justify-content: baseline;
    padding: 10px;
}

#sideBar {
    display: none;
    flex-direction: column;
    align-items: start;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.445);
    font-size: 20px;
    padding: 10px;
}

#backspace {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(252, 143, 66);
    font-size: 30px;
}